<!--<div class="app flex-row align-items-center" >
  <div class="container">
    <div class="row justify-content-center">      
      <div class="col-md-5">
        <form #f="ngForm" (ngSubmit)="onResetPass()">
          <div class="login-form">
            <div class="login-header">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                  <img src="/assets/img/logo_white.png" class="logo-img">
                </div>
              </div>
            </div>
            <div class="login-body"> 
              <div class="col-md-12 text-center">
                <p class="text-muted">Enter your email address to receive a new password</p>
                <p *ngIf='success'style="color:green;">An email has been sent to your email address. Please follow the instructions to reset your password</p>
              </div>         
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-user"></i></span>        
                <input 
                type="email" 
                id="emailInput"
                name="email"
                ngModel
                placeholder="email address"
                class="form-control" 
                pattern=""
                required=""
                #e="ngModel"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                >               
              </div>
              <p class="help-block" style="color:red;" *ngIf="!e.valid && e.touched">Please enter a valid email!</p>
              <div class="row">
                <div class="col-md-12 login-button">
                  <button type="submit" class="btn btn-primary px-2">Submit</button>
                </div>
                <div class="col-12 text-center">
                  <a href="" [routerLink]="['/pages/login']" class="px-0">Go back to Login</a>
                </div>
              </div>
            </div>  
          </div>
      </form>
    </div>     
  </div>
</div>
</div>-->
<div class="login-wrapper p-t-60 sm-p-t-30"> 
  <!-- START Login Right Container-->
  <div class="login-container">
    <div class="form-wrapper p-l-70 p-r-70 p-b-60 sm-p-l-20 sm-p-r-20 sm-p-t-30">
      <form #f="ngForm" (ngSubmit)="onResetPass()">
        <div class=" text-center"> <img src="assets/images/tempal-logo-dark.svg" alt="logo" height="55" class="">
          <p class="m-t-25">Forgot your password? Enter your email address and we’ll send you a link to reset it.</p>
          <p *ngIf='success'style="color:green;">An email has been sent to your email address. Please follow the instructions to reset your password</p>
        </div>        
        <!-- START Form Control-->
        <div class="form-group form-group-default">
          
          <label>Email Address</label>
          <div class="controls">
            <input 
                type="email" 
                id="emailInput"
                name="email"
                ngModel                
                class="form-control" 
                pattern=""
                required=""
                #e="ngModel"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">       
          </div>          
        </div>
        <span class="help-block" id="error">{{ notValid }}</span>        
        <!-- END Form Control-->
        <button class="btn btn-primary btn-lg full-width m-t-20" type="submit">Reset Password</button>
        <div class="clearfix"></div>
      </form>
      <div class="col-12 text-center">
          <a href="" [routerLink]="['/pages/login']" class="px-0">Go back to Login</a>
      </div>
    </div>
    <!-- end form-wrapper --> 
  </div>
  <!-- END Login Right Container--> 
</div>

