<!-- BEGIN INTRO CONTENT SECTION -->
<!-- <section class="bg-white b-b b-grey booking-dates">
  <div class="container">
    <div class="row p-t-0 p-b-0 sm-p-b-0">
      <div class="col-md-6 col-sm-6 col-xs-6 b-r b-grey p-t-25 p-b-15 text-center">
        <h6 class="no-margin">Start Date</h6>
        <input type="text" class="datetimepicker readonlyjm" value="" placeholder="select">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 p-t-25 p-b-15 text-center">
        <h6 class="no-margin">End Date</h6>
        <input type="text" class="datetimepicker readonlyjm" value="" placeholder="select">
      </div>
    </div>
  </div>
</section> -->
<!-- BEGIN INTRO CONTENT SECTION --> 

<!-- BEGIN FILTERS SECTION -->
<section class="p-t-30">
  <div class="container">
    <div class="row p-b-30 sm-p-b-0">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <h4 class="subtitle xs-text-center">{{ browsetalents.length }} Customer Service Contractors</h4>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-right xs-text-center xs-m-t-20">
          <button class="filters-toggle btn btn-outline sm-m-b-30" (click)="filterModal.show()" type="button"> Filters </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BEGIN FILTERS SECTION --> 

<!-- BEGIN TALENT SECTION -->
<section id="browsetalent" class="p-b-80 sm-p-b-60">
  <div class="container">
    <div class="row"> 
      <!-- BEGIN TALENT CARD -->
      <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let talent of browsetalents">
        <div class="panel panel-default talent-panel p-t-40">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <!-- <span data-toggle="quickview" data-toggle-element="#quickview">
                <a href="javascript:;" class="btn-circle pull-right open-message" data-toggle="tooltip" data-placement="top" title="message">
                  <i class="icon icon-bubble" aria-hidden="true"></i>
                </a>
              </span> -->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <a href="" [routerLink]="['/talent/profile', talent.talentid]">
                <img src="{{ talent.image_url }}" alt="" class="profile-photo img-circle img-responsive">
              </a> 
            </div>
            <!-- <div class="col-md-3 col-sm-3 col-xs-3"> 
              <a href="javascript:;" class="btn-circle pull-left" data-toggle="tooltip" data-placement="top" title="shortlist"><i class="icon icon-bookmark-o"></i></a> 
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-12 text-center"> 
              <a href="" [routerLink]="['/talent/profile', talent.talentid]">
                <h5 class="m-t-20 m-b-0">{{ talent.talentname }}</h5>
                <p class="m-b-10">{{ talent.jobtitle }}</p>
              </a> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="col-md-8 col-sm-6 col-xs-6">
                <span class="top-row">Match to Requirements</span>
              </div>
              <div class="talent-star-rating">
                <i class="fa fa-star" *ngFor="let fullStar of range(talent.requirementmatching)"></i>
                <i class="fa fa-star-o" *ngFor="let fullStar of range(5 - talent.requirementmatching)"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="col-md-8 col-sm-6 col-xs-6">
                <span class="top-row">Education</span>
              </div>
              <div class="talent-star-rating">
                <i class="fa fa-star" *ngFor="let fullStar of range(talent.educationrating)"></i>
                <i class="fa fa-star-o" *ngFor="let fullStar of range(5 - talent.educationrating)"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="col-md-8 col-sm-6 col-xs-6">
                <span class="top-row">Work History</span>
              </div>
              <div class="talent-star-rating">
                <i class="fa fa-star" *ngFor="let fullStar of range(talent.workrating)"></i>
                <i class="fa fa-star-o" *ngFor="let fullStar of range(5 - talent.workrating)"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="col-md-8 col-sm-6 col-xs-6">
                <span class="top-row">Salary</span>
              </div>
              <div class="talent-star-rating">
                <i class="fa fa-star" *ngFor="let fullStar of range(talent.salaryrating)"></i>
                <i class="fa fa-star-o" *ngFor="let fullStar of range(5 - talent.salaryrating)"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="col-md-8 col-sm-6 col-xs-6">
                <span class="top-row">Availability</span>
              </div>
              <div class="talent-star-rating">
                <i class="fa fa-star" *ngFor="let fullStar of range(talent.availabilityrating)"></i>
                <i class="fa fa-star-o" *ngFor="let fullStar of range(5 - talent.availabilityrating)"></i>
              </div>
            </div>
          </div>
           <div class="row talent-stats m-t-20 p-l-15 p-r-15">
           <!-- <div class="col-md-4 col-sm-4 col-xs-4">
              <span class="top-row">{{ talent.bookings }}</span>
              <span class="bottom-row hint-text">bookings</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <span class="top-row">
                <img src="assets/images/tempal-verified.png" alt="" class="img-responsive">
              </span> 
              <span class="bottom-row text-verified">verified</span> 
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <span class="top-row">€{{ talent.averagerate }}</span>
              <span class="bottom-row hint-text">avg. rate</span>
            </div>-->
          </div> 
          <div class="row m-t-15">
            <div class="col-md-12">
              <a href="" [routerLink]="['/talent/profile', talent.talentid]" class="btn btn-primary btn-square full-width">View Talent</a>
            </div>
          </div>
        </div>
      </div>
      <!-- END TALENT CARD --> 
      
    </div>
  </div>
</section>
<!-- END TALENT SECTION --> 


<div class="modal fade fill-in grey" bsModal #filterModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
  <button type="button" class="close" (click)="filterModal.hide()" data-dismiss="modal" aria-hidden="true"> <i class="icon icon-close_line"></i> </button>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="m-b-30">Refine {{ browsetalents.length }} Contractors</h4>
      </div>
      <div class="modal-body">         
        <!-- START HOURLY RATE RANGE -->
        <div class="panel panel-default m-t-30">
          <div class="panel-heading">
            <div class="panel-title">Salary Expectations</div>
          </div>
          <div class="panel-body">
            <div class="row m-b-20">
              <div class="col-sm-12 text-left">
                <input id="raterange" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <!-- END HOURLY RATE RANGE --> 
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Suitable Talent</div>
              </div>
              <div class="panel-body">
                <div class="row m-b-10">
                  <div class="col-sm-12">
                    <div class="radio radio-primary">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="m-b-10">
                          <input type="radio" checked="checked" value="yes" name="suitableTalent" id="radioYes">
                          <label for="radioYes">Yes</label>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="m-b-10">
                          <input type="radio" value="no" name="suitableTalent" id="radioNo">
                          <label for="radioNo">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Interview Availability</div>
              </div>
              <div class="panel-body">
                <div class="row m-b-10">
                  <div class="col-sm-12">
                    <div class="radio radio-primary">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="m-b-10">
                          <input type="radio" checked="checked" value="yes" name="availability" id="availabilityYes">
                          <label for="availabilityYes">Yes</label>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="m-b-10">
                          <input type="radio" value="no" name="availability" id="availabilityNo">
                          <label for="availabilityNo">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- START RATING -->
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Min. Rating</div>
              </div>
              <div class="panel-body">
                <div class="rating">
                  <span class="stars-container">
                    <span *ngFor="let starIndex of clickableStarRange(5)" id="star{{ starIndex }}" class="fa star" (click)="selectedStar(starIndex)" [ngClass]="{'selected': selectedStarIndex == starIndex }"></span>
                      <!-- <span id="star5" class="fa star"></span>
                      <span id="star4" class="fa star"></span>
                      <span id="star3" class="fa star"></span>
                      <span id="star2" class="fa star"></span>
                      <span id="star1" class="fa star"></span> -->
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Notice Period</div>
              </div>
              <div class="panel-body">
                <input type="text" name="noticePeriod" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <!-- END RATING --> 
        
      </div>
      <div class="modal-footer"> <a href="javascript:;" (click)="filterModal.hide()" class="btn btn-primary btn-lg">Apply Filters</a><br>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>