    /* set all stars to 'empty star' */
    .stars-container {
        display: inline-block;
        vertical-align: top;
    }
    /* set all stars to 'empty star' */
    .stars-container .star {
        float: right;
        display: inline-block;
        padding: 2px;
        color: orange;
        cursor: pointer;
    }
    .stars-container .star:before {
        content:"\f006";
        /* fontAwesome empty star code */
    }
    /* set hovered/selected star to 'filled star' */
    .star:hover:before, .star.selected:before {
        content:"\f005";
        /* fontAwesome filled star code */
    }
    /* set all stars after hovered/selected to'filled star' 
    ** it will appear that it selects all after due to positioning */
    .star:hover ~ .star:before, .star.selected ~ .star:before {
        content:"\f005";
        /* fontAwesome filled star code */
    }

    select.form-control {
        padding: 7px 12px 5px 12px;
    }