
  <!-- START MAIN-CONTENT -->
  <main class="main-content bg-grey-lighter"> 
    
    <!-- BEGIN PROMO SECTION -->
    <section class="text-white p-t-60 p-b-30 profile-overview">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 text-right"><!--<span data-toggle="quickview" data-toggle-element="#quickview"><a href="#quickview-chat" class="booking-cta" data-toggle="tooltip" data-placement="top" title="message"><i class="icon icon-bubble" aria-hidden="true"></i></a></span> --></div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-center"> <img [src] = "talentDetail.profileimage" alt="" class="profile-photo img-circle"> </div>
              <div class="col-md-3 col-sm-3 col-xs-3 text-left"> <!--<a href="shortlist.html" class="booking-cta" data-toggle="tooltip" data-placement="top" title="shortlist"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a> --></div>
            </div>            
            <div class="row">
              <div class="col-md-12 text-center">
                <h3 class="m-t-20 m-b-0">{{ talentDetail.firstname }} {{ talentDetail.lastname }}</h3>
                <p class="m-t-5 m-b-5">{{ talentDetail.jobtitle }}</p>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div class="col-md-12 col-sm-6 col-xs-6 talent-star-rating">
                      <span class="top-row">Match to Requirements</span> 
                      <i class="fa fa-star" *ngFor="let fullStar of range(talentDetail.requirementmatching)"></i>
                      <i class="fa fa-star-o" *ngFor="let fullStar of range(5 - talentDetail.requirementmatching)"></i>
                    </div>
                  </div>
                </div>
                <!--<button type="button" class="btn btn-primary">Select to Hire</button>-->
              </div>
            </div>

          </div>
        </div>
        <div class="row talent-stats m-t-50">
          
          <div class="col-md-3 col-sm-3 col-xs-4 b-r b-grey-lightest p-l-30 p-r-30 sm-p-l-20 sm-p-r-20">

          <div class="talent-star-rating">
          <i class="fa fa-star" *ngFor="let fullStar of range(talentDetail.educationrating)"></i>
          <i class="fa fa-star-o" *ngFor="let fullStar of range(5 - talentDetail.educationrating)"></i>
          </div>
            <span class="bottom-row">Education</span>  
          </div>

          <div class="col-md-3 col-sm-3 col-xs-4 b-r b-grey-lightest p-l-30 p-r-30 sm-p-l-20 sm-p-r-20">

           <div class="talent-star-rating">
          <i class="fa fa-star" *ngFor="let fullStar of range(talentDetail.workrating)"></i>
          <i class="fa fa-star-o" *ngFor="let fullStar of range(5 - talentDetail.workrating)"></i>
          </div>
            <span class="bottom-row">Work History</span>  

          </div>


          <div class="col-md-3 col-sm-3 col-xs-4 b-r xs-no-border b-grey-lightest p-l-30 p-r-30 sm-p-l-20 sm-p-r-20 hour-rate"> 
          <div class="talent-star-rating">
          <i class="fa fa-star" *ngFor="let fullStar of range(talentDetail.salaryrating)"></i>
          <i class="fa fa-star-o" *ngFor="let fullStar of range(5 - talentDetail.salaryrating)"></i>
          </div>
          <span class="bottom-row">Salary</span>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 p-l-30 p-r-30 sm-p-l-20 sm-p-r-20 xs-p-t-20">
            <div class="talent-star-rating">
          <i class="fa fa-star" *ngFor="let fullStar of range(talentDetail.availabilityrating)"></i>
          <i class="fa fa-star-o" *ngFor="let fullStar of range(5 - talentDetail.availabilityrating)"></i>
          </div>
          <span class="bottom-row">Availability</span>
          </div>
          </div>
        <!--<div class="row talent-stats m-t-50">
          <div class="col-md-3 col-sm-3 col-xs-4 b-r b-grey-lightest p-l-30 p-r-30 sm-p-l-20 sm-p-r-20"> <span class="top-row fs-32">23</span><span class="bottom-row">bookings</span> </div>
          <div class="col-md-3 col-sm-3 col-xs-4 b-r b-grey-lightest p-l-30 p-r-30 sm-p-l-20 sm-p-r-20"> <span class="top-row"><img src="../assets/images/tempal-verified.png" alt="" class="img-responsive"></span> <span class="bottom-row green">verified</span> </div>
          <div class="col-md-3 col-sm-3 col-xs-4 b-r xs-no-border b-grey-lightest p-l-30 p-r-30 sm-p-l-20 sm-p-r-20 hour-rate"> <span class="top-row fs-32">€15</span><span class="bottom-row">avg. rate</span> </div>
          <div class="col-md-3 col-sm-3 col-xs-12 p-l-30 p-r-30 sm-p-l-20 sm-p-r-20 xs-p-t-20">
            <div class="talent-star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <span class="bottom-row">rating</span> </div>
        </div>-->
      </div>
    </section>
    <!-- END PROMO SECTION --> 
     <!-- BEGIN INTRO CONTENT SECTION -->
      <section class="m-t-30">
      <div class="container">
        <div class="row"> 
          <!-- BEGIN MAIN AREA -->
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body lg">
                <div class="row">
                  <div class="col-md-12 text-center"> <img src="../assets/images/quotation-mark.svg" width="30" alt="" class="opac-20">
                    <h6 class="m-t-30">Talent Pool Manager’s comments.</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 m-t-20 p-b-20 text-center b-b b-dashed b-grey">
                    <p class="lead">{{ talentDetail.managerscomment }}</p>
                  </div>
                </div>
                <div class="row m-t-40 verified-stats">
                  <div class="col-md-4 col-sm-4 text-center"> 
                  <a href="{{ talentDetail.linkedinurl }}" target="_blank">
                  <span class="top-row">                   
                  <img src="assets/images/linkedin.svg" alt="" class="tempal-verified img-responsive">
                  </span> 
                  <span class="tempal-verified-text">Linkedin</span> 
                  </a>
                  </div>
                  <div class="col-md-4 col-sm-4 text-center xs-m-t-10">
                   <a href="{{ talentDetail.cv }}" download>
                   <span class="top-row">
                   <i class="fa fa-file-pdf-o" aria-hidden="true"></i> </span> <span class="tempal-verified-text">Cv</span> 
                   </a>
                   </div>
                  <div class="col-md-4 col-sm-4 text-center xs-m-t-10"> 
                  <a href="{{ talentDetail.workvisa }}" download>
                  <span class="top-row"> <i class="fa fa-paperclip" aria-hidden="true"></i> </span> <span class="tempal-verified-text">Work Visa</span> 
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- END --> 
            
          </div>
          <!-- END MAIN AREA --> 
        </div>
      </div>
    </section>
    <!-- BEGIN INTRO CONTENT SECTION -->
    <section class="profile-details">
      <div class="container">
        <div class="row"> 
          <!-- BEGIN MAIN AREA -->
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-5 col-md-6 col-sm-12 eq-height">
                    <div class="m-r-20 xs-m-r-0">

                     <div class="col-md-12 m-t-20">
                        <div class="row">
                          <div class="col-md-12 column b-t sm-b-t sm-b-b b-dashed b-grey p-t-20 sm-p-b-20" >
                           <h6>Work History</h6>                       
                        <div class = "list-group" *ngFor="let work of talentDetail.workhistory;let i = index">                        
                         <div class = "list-group-item">
                          <h6 class = "list-group-item-heading">
                           {{ work.company }}TPC India Pvt Ltd
                         </h6>
                         <p class = "list-group-item-text">
                           {{ work.duration }}
                         </p>
                         </div>                                             
                       </div>
                          </div>
                        </div>
                      </div> 

                      <div class="col-md-12 m-t-20"> 
                        <!-- start expertise -->
                        <div id="expertise-row">
                          <div class="row">
                            <div class="col-md-12 column b-t b-dashed b-grey p-t-20">
                              <h6>Expertise ({{ talentDetail.expertise.length }})</h6>
                              <div class="carousel slide m-t-20" data-interval="false">
                                <div class="carousel-inner" > 
                                  <!-- START review -->                                    
                                  <div class="item" *ngFor="let exp of talentDetail.expertise;let i = index" [ngClass]="{'active': activeItem === i }">
                                    <div class="block-title">Sector</div>
                                    <p class="semi-bold">{{ exp.sector }}</p>
                                    <div class="block-title">Job Title</div>
                                    <p class="semi-bold">{{ exp.jobtitle }}</p>
                                    <div class="block-title">Experience</div>
                                    <p class="semi-bold">{{ exp.experience }}</p>
                                    <div class="clearfix"></div>
                                  </div>
                                  <!-- END review --> 
                                </div>
                              </div>
                              <div class="text-center"> <a class="left" href="javascript:;" (click)="viewPrevious(activeItem-1)" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right" href="javascript:;"  (click)="viewNext(activeItem+1)" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                <div class="clearfix"> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end expertise --> 
                      </div>                     

                      <div class="col-md-12 m-t-20">
                        <div class="row">
                          <div class="col-md-12 column b-t sm-b-t sm-b-b b-dashed b-grey p-t-20 sm-p-b-20" >
                            <h6>Languages</h6>
                            <div class="m-t-20 block-title" *ngIf = "native">Native</div>
                            <ul class="list-inline m-t-10" >
                              <li *ngFor="let n of native;">
                                <div class="language-tag xs-m-b-10"> {{ n }}</div>
                              </li>
                             
                            </ul>
                            <div class="m-t-20 block-title" *ngIf = "fluent">Fluent</div>
                            <ul class="list-inline m-t-10" >
                              <li *ngFor="let f of fluent;">
                                <div class="language-tag xs-m-b-10">{{ f }}</div>
                              </li>                             
                            </ul>
                          </div>
                        </div>
                      </div>               

                    </div>
                  </div>
                  <div class="col-lg-7 col-md-6 col-sm-12 b-l sm-no-border b-dashed b-grey sm-p-t-20 eq-height">
                    <div class="row m-l-20 xs-m-l-0 m-r-10 xs-m-r-0">
                      <div class="col-md-12">
                        <h6 class="m-t-15">A little about {{ talentDetail.firstname }}</h6>
                      </div>
                      <div class="col-md-12 m-t-20">
                        <p>{{ talentDetail.description }}</p>
                      </div>
                    </div>
                    <div class="row m-l-20 xs-m-l-0 m-r-10 xs-m-r-0">
                      <div class="col-md-12 b-t b-dashed b-grey p-t-20">
                        <h6 class="m-t-15">Location</h6>
                      </div>
                      <div class="col-md-12 m-t-20">
                        <div style="height:350px;width:100%;max-width:100%;list-style:none; transition: none;overflow:hidden;">
                          <div id="map" style="height:100%; width:100%;max-width:100%;"></div>
                        </div>
                        
                      </div>
                    </div>

                    <div class="row m-t-15 m-l-20 xs-m-l-0 m-r-10 xs-m-r-0 talent-stats text-center">
                      <div class="col-md-6 col-sm-6 p-t-20 b-r b-dashed b-grey">
                        <div class="block-title">currently based</div>
                        <h4 class="no-margin">{{ talentDetail.location }}</h4>
                      </div>
                      <div class="col-md-6 col-sm-6 p-t-20">
                        <div class="block-title">willing to work</div>
                        <h4 class="no-margin">Max. {{ talentDetail.distance }}</h4>
                      </div>
                    </div> 

                    <div class="row m-l-20 xs-m-l-0 m-r-10 xs-m-r-0">
                      <div class="col-md-12 column b-t sm-b-t sm-b-b b-dashed b-grey p-t-20 sm-p-b-20">
                        <h6 class="m-t-15">Salary Expectation / Notice Period</h6>
                      </div>
                      <div class="col-md-12 m-t-20">
                        <p>€ {{ talentDetail.salaryexpectation }} / {{ talentDetail.noticeperiod }} Days</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END --> 
          </div>
          <!-- END MAIN AREA --> 
        </div>
      </div>
    </section>
    <!-- END SECTION --> 