
  <!-- START MAIN-CONTENT -->
  <main class="main-content bg-grey-lighter"> 
    
    <!-- BEGIN PROMO SECTION -->
    <section class="text-white p-t-60 p-b-30 profile-overview">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 text-right"><!--<span data-toggle="quickview" data-toggle-element="#quickview"><a href="#quickview-chat" class="booking-cta" data-toggle="tooltip" data-placement="top" title="message"><i class="icon icon-bubble" aria-hidden="true"></i></a></span> --></div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-center"> <img src="../assets/images/jane-kelly.jpg" alt="" class="profile-photo img-circle"> </div>
              <div class="col-md-3 col-sm-3 col-xs-3 text-left"> <!--<a href="shortlist.html" class="booking-cta" data-toggle="tooltip" data-placement="top" title="shortlist"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a> --></div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <h3 class="m-t-20 m-b-0">Jane Kelly</h3>
                <p class="m-t-5 m-b-20">Customer Service Representative</p>
                <!--<button type="button" class="btn btn-primary">Select to Hire</button>-->
              </div>
            </div>
          </div>
        </div>
        <!--<div class="row talent-stats m-t-50">
          <div class="col-md-3 col-sm-3 col-xs-4 b-r b-grey-lightest p-l-30 p-r-30 sm-p-l-20 sm-p-r-20"> <span class="top-row fs-32">23</span><span class="bottom-row">bookings</span> </div>
          <div class="col-md-3 col-sm-3 col-xs-4 b-r b-grey-lightest p-l-30 p-r-30 sm-p-l-20 sm-p-r-20"> <span class="top-row"><img src="../assets/images/tempal-verified.png" alt="" class="img-responsive"></span> <span class="bottom-row green">verified</span> </div>
          <div class="col-md-3 col-sm-3 col-xs-4 b-r xs-no-border b-grey-lightest p-l-30 p-r-30 sm-p-l-20 sm-p-r-20 hour-rate"> <span class="top-row fs-32">€15</span><span class="bottom-row">avg. rate</span> </div>
          <div class="col-md-3 col-sm-3 col-xs-12 p-l-30 p-r-30 sm-p-l-20 sm-p-r-20 xs-p-t-20">
            <div class="talent-star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <span class="bottom-row">rating</span> </div>
        </div>-->
      </div>
    </section>
    <!-- END PROMO SECTION --> 
     <!-- BEGIN INTRO CONTENT SECTION -->
    <!-- BEGIN INTRO CONTENT SECTION -->
    <section class="profile-details">
      <div class="container">
        <div class="row"> 
          <!-- BEGIN MAIN AREA -->
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-5 col-md-6 col-sm-12 eq-height">
                    <div class="m-r-20 xs-m-r-0">      
                      <div class="col-md-12 m-t-20"> 
                        <!-- start expertise -->
                        <div id="expertise-row">
                          <div class="row">
                            <div class="col-md-12 column b-t b-dashed b-grey p-t-20">
                              <h6>Expertise (3)</h6>
                              <div class="carousel slide m-t-20" id="expertise-rotate" data-interval="false">
                                <div class="carousel-inner"> 
                                  <!-- START review -->
                                  <div class="item active">
                                    <div class="block-title">Sector</div>
                                    <p class="semi-bold">Customer Service</p>
                                    <div class="block-title">Job Title</div>
                                    <p class="semi-bold">Customer Service Representative</p>
                                    <div class="block-title">Experience</div>
                                    <p class="semi-bold">Some - a few years experience</p>
                                    <div class="clearfix"></div>
                                  </div>
                                  <!-- END review --> 
                                  <!-- START review -->
                                  <div class="item">
                                    <div class="block-title">Sector</div>
                                    <p class="semi-bold">Call Centre</p>
                                    <div class="block-title">Job Title</div>
                                    <p class="semi-bold">IT Customer Support</p>
                                    <div class="block-title">Experience</div>
                                    <p class="semi-bold">Little - starting to build experience</p>
                                    <div class="clearfix"></div>
                                  </div>
                                  <!-- END review --> 
                                  <!-- START review -->
                                  <div class="item">
                                    <div class="block-title">Sector</div>
                                    <p class="semi-bold">Office Support</p>
                                    <div class="block-title">Job Title</div>
                                    <p class="semi-bold">Office Administrator</p>
                                    <div class="block-title">Experience</div>
                                    <p class="semi-bold">Lots - Many years experience</p>
                                    <div class="clearfix"></div>
                                  </div>
                                  <!-- END review --> 
                                </div>
                              </div>
                              <div class="text-center"> <a class="left" href="#expertise-rotate" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right" href="#expertise-rotate" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                <div class="clearfix"> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end expertise --> 
                      </div>
                      <div class="col-md-12 m-t-20">
                        <div class="row">
                          <div class="col-md-12 column b-t sm-b-t sm-b-b b-dashed b-grey p-t-20 sm-p-b-20">
                            <h6>Languages</h6>
                            <div class="m-t-20 block-title">Native</div>
                            <ul class="list-inline m-t-10">
                              <li>
                                <div class="language-tag xs-m-b-10">English</div>
                              </li>
                              <li>
                                <div class="language-tag xs-m-b-10">German</div>
                              </li>
                            </ul>
                            <div class="m-t-20 block-title">Fluent</div>
                            <ul class="list-inline m-t-10">
                              <li>
                                <div class="language-tag xs-m-b-10">Spanish</div>
                              </li>
                              <li>
                                <div class="language-tag">French</div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                       <div class="col-md-12 m-t-20">
                        <div class="row">
                         
                            <div class="col-md-6 col-sm-6 p-t-20 b-r b-dashed b-grey">
                        <div class="block-title">currently based</div>
                        <h4 class="no-margin">Dublin</h4>
                      </div>
                      <div class="col-md-6 col-sm-6 p-t-20">
                        <div class="block-title">willing to work</div>
                        <h4 class="no-margin">Max. 40km</h4>
                      </div>
                          </div>
                      
                      </div>


                    </div>
                  </div>
                  <div class="col-lg-7 col-md-6 col-sm-12 b-l sm-no-border b-dashed b-grey sm-p-t-20 eq-height">
                    <div class="row m-l-20 xs-m-l-0 m-r-10 xs-m-r-0">
                      <div class="col-md-12">
                        <h6 class="m-t-15">A little about Jane</h6>
                      </div>
                      <div class="col-md-12 m-t-20">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tristique, 
                          diam a porttitor interdum, orci risus ultricies sapien, eget feugiat turpis 
                          mauris nec lorem. In eget sem accumsan, volutpat sem ac, bibendum purus. 
                          In ac varius tellus. Morbi lacinia egestas risus, sed consectetur velit ornare vitae. Curabitur sed sollicitudin velit. Nulla tristique varius tincidunt. Donec scelerisque enim ut eros ornare mattis. In hac habitasse platea dictumst. Fusce nunc urna, ultrices a sapien nec, vehicula sagittis lectus. Fusce scelerisque lacinia nisi, sed consectetur purus ullamcorper ut. Fusce scelerisque risus a erat consectetur, eu congue ante efficitur. Integer quis mi consequat, dapibus lectus sit amet, condimentum mi.</p>
                      </div>
                    </div>
                    <div class="row m-l-20 xs-m-l-0 m-r-10 xs-m-r-0">
                      <div class="col-md-12 b-t b-dashed b-grey p-t-20">
                        <h6 class="m-t-15">Location</h6>
                      </div>
                      <div class="col-md-12 m-t-20">
                        <div style="height:350px;width:100%;max-width:100%;list-style:none; transition: none;overflow:hidden;">
                          <div id="embedded-map-canvas" style="height:100%; width:100%;max-width:100%;">
                            <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Hume+House,+Pembroke+Road,+Ballsbridge,+Ireland&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                          </div>
                        </div>
                      </div>
                    </div>                   
                  </div>
                </div>
              </div>
            </div>
            <!-- END --> 
          </div>
          <!-- END MAIN AREA --> 
        </div>
      </div>
    </section>
    <!-- END SECTION --> 