<!-- <section id="browse" class="p-t-60 sm-p-t-40 xs-p-t-40 p-b-120 sm-p-b-0">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Choose a Sector</h1>
        <p class="lead">from our list of popular areas of expertise</p>
      </div>
    </div>
    <div class="row m-t-60">
      <div class="col-md-3 col-sm-6 col-xs-12 text-center" *ngFor="let sector of sectors"> 
      	<a href="" class="sector box"> 
      	<img src="{{ sector.image_url }}" alt="" class="img-circle img-responsive">
        <h5 class="m-t-40">{{ sector.name }}</h5>
        <p class="m-b-60">{{ sector.description }}<br>
          (+2 more)</p>
        </a> 
      </div>
    </div>
  </div>
</section> -->